body{
    font-family: 'Roboto', sans-serif;
}
.bebas-font{
    font-family: 'Bebas Neue', cursive;;
}
.my-primary-color{
    color: #FABE4C;
}
.my-button{
    background-color: #A4BC46;
    border: none;
    font-size: 16px;
    width: 170px;
    height: 60px;
    border-radius: 10px;
    color: white;
}
.my-button:hover{
    background-color: #A4BC46;
}
.my-third-color{
    color: #363958;
}

.paragraph-color{
    color: #3E3E3E;
}
.my-menu{
    color: #3C3C3C;
    font-size: 16px;
    font-weight: 700;
}


.my-menu li{
    padding-left: 20px;
}
header{
    background-color: #FFFBF0;
}

.my-card-style{
    height: 550px;
    border: none;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 8px 16px lightgrey;
}

.my-img-box{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.product-title-style{
    font-size: 24px;
    font-weight: 600;
    color: #363958;
}

.price-style{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #FABE4C;
    display: inline-block;
}

.my-footer-card{
    padding: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 8px 16px lightgrey;
}